body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-container{
    display: flex;
    flex-direction: column;
}

.header{
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  gap: 100px;
  padding-bottom: 100px;
}

.header h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.header a, .header p{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.header .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.upper-header{
    display: flex;
    justify-content: space-around;
    gap: 300px;
}

.nav-links, .logo{ 
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-links li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 a{
    text-decoration: none;
}

.lower-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.header-info{
  display: flex;
  flex-direction: column;
  flex-basis: 450px;
}

img{
    width: 500px;
    height: 200px;
    flex-shrink: 0;
}

.sign-up{
        width: 100px; 
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 8px;
        background: #3882f6;
        border: 1px solid #3882f6;
        color: white;
}

.information{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

.information h1{
    margin-bottom: 32px;
}
.images-container{
    display: flex;
    justify-content: center;
    flex-basis: 200px;
    gap: 52px;
}

.bird{
    max-width: 200px;
}
.bird img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.bird p{
    margin-top: 2px;
}